{:source-paths ["src" "target" "resources" "node_modules"]
 :dependencies [[reagent "0.9.0-rc1"]

                ;; Devtools
                [binaryage/devtools "0.9.10"]
                [cider/cider-nrepl "0.22.4"]
                [refactor-nrepl "2.4.0"]]
 :builds {:dev {:target :browser
                :output-dir "resources/public/js/app"
                :devtools {:http-port 8080
                           :http-root "resources/public"}
                :js-options {:resolve {"reveal" {:target :global
                                                 :global "Reveal"}}}
                :asset-path "./js/app"
                :modules {:main {:init-fn reveal.core/main!}}}
          :prod {:target :browser
                 :output-dir "build/js"
                 :modules {:main {:init-fn reveal.core/main!}}
                 :compiler-options {:optimizations :advanced}}}}
